Curricula~Didactics~
||||||
Curriculum
||||||
In education, a curriculum (; PL: curricula  or curriculums) is broadly defined as the totality of student experiences that occur in the educational process.  The term often refers specifically to a planned sequence of instruction, or to a view of the student's experiences in terms of the educator's or school's instructional goals. A curriculum may incorporate the planned interaction of pupils with instructional content, materials, resources, and processes for evaluating the attainment of educational objectives. Curricula are split into several categories: the explicit, the implicit (including the hidden), the excluded, and the extracurricular.Curricula may be tightly standardized or may include a high level of instructor or learner autonomy.  Many countries have national curricula in primary and secondary education, such as the United Kingdom's National Curriculum.
UNESCO's International Bureau of Education has the primary mission of studying curricula and their implementation worldwide.