Architects~Professional certification in architecture~
||||||
Professional requirements for architects
||||||
Professional requirements for architects vary from place to place, but usually consist of three elements: a university degree or advanced education, a period of internship or training in an office, and examination for registration with a jurisdiction.
Professionals engaged in the design and supervision of construction projects prior to the late 19th century were not necessarily trained in a separate architecture program in an academic setting. Instead, they usually carried the title of Master Builder, or surveyor, after serving a number of years as an apprentice (such as Sir Christopher Wren). The formal study of architecture in academic institutions played a pivotal role in the development of the profession as a whole, serving as a focal point for advances in architectural technology and theory.